<section id="biography">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading text-center">Biography</h2>
                <hr class="primary">
                <p>
                    Starting her professional debut at age 13 with Seoul Sinfonietta, Pianist Hyo Jin Lee has performed widely to critical acclaim throughout the United States, France, Australia and Korea. She performed in concertos with the W Philharmonic, Korean Symphony, Gangnam Symphony, Korea Senior Symphony, Cheongju City Philharmonic Orchestra and Los Angeles Doctors Symphony. In addition, Hyo Jin gave her recitals at Auditorium Gilles de la Rocque (Chourchevel, Paris), Steinway Hall (Sydney, Australia), Harvard Sanders Theater, Jordan Hall (Boston), South Hampton Cultural Center, Staller Center (New York), Seoul Arts Center, Kumho Art Hall, Sejong Cultural Center (Seoul).
                </p>
                <p>
                    As a collaborative pianist, Hyo Jin has worked with musicians such as Emerson Quartet, Colin Carr, Nicholas Cords, Lawrence Lesser, and Miriam Fried, to name a few. She pursued her music education in the United States starting in high school, studying with the world-renowned pedagogue Wha Kyung Byun and Russell Sherman, and continued to train at New England Conservatory of Music. Hyo Jin completed both her Bachelor’s degree, Master’s degree, and Graduate Diploma at the Conservatory with academic honors. She was also a recipient of the prestigious Adele Bramson Ganick Endowed Scholarship for demonstrating excellence in piano performance. She then went on to complete Doctorate of Musical Arts in Piano Performance, at State University of New York, Stony Brook, with Gilbert Kalish.
                </p>
                <p>
                    Hyo Jin has a wide range of teaching experience at institutions such as Seoul National University, Korea National University of Arts, Yewon school, Seoul arts high school and Music Academy at Seoul Arts Center.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/files/CV-HyoJinLee.pdf" class="btn btn-primary btn-xl page-scroll">Curriculum Vitae</a>
            </div>
        </div>
    </div>
</section>
